@import 'src/scss/costants.sass';

$text-size-primary: $header-text-size;
$text-color-primary: $header-text-color;
$bg-header-color: $bg-header;
$bg-main-content-color: $bg-gradient;

:host {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 56px 1.9fr;
  gap: 0 0;
  min-height: 100%;
  background:$bg-main-content-color;
}

nav {
  ul {
    li {
      display: inline-block;
      margin-right: 24px;

      a {
        text-decoration: none;
        color: $text-color-primary;
      }
    }
  }
}

.header {
  display: grid;
  grid-template-columns: 0.1fr 3.4fr 0.1fr 0.4fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-area: 1 / 1 / 2 / 4;
  background-color: $bg-header-color;
  color: $text-color-primary;
  font-size: $text-size-primary;
  position: sticky;
  top: 0;
  z-index: 99;

  &__logo {
    grid-area: 1 / 1 / 2 / 2;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
  }

  &__main {
    grid-area: 1 / 2 / 2 / 3;
  }

  &__personal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-area: 1 / 3 / 2 / 5;
    justify-items: center;
    align-items: center;

    &__user-name {
      grid-area: 1 / 1 / 2 / 2;
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      grid-template-rows: 1fr;
      gap: 0 0;
      justify-items: center;
      align-items: center;


      a {
        text-decoration: none;
        color: $text-color-primary;
      }
    }

    &__buttons {
      grid-area: 1 / 2 / 2 / 3;

      button {
        font-size: $text-size-primary;
      }
    }
  }
}
main {
  grid-area: 2 / 2 / 3 / 3;
}
