@import 'src/scss/costants.sass';

$text-size-primary: $header-text-size;
$text-color-primary: $header-text-color;
$bg-header-color: $bg-header;
$bg-main-color: $bg-gradient;
$content-color: $content-color;

:host {
  display: grid;
  grid-template-rows: minmax(61px, auto) 10fr;
  height: 100%;
}

.header {
  display: grid;
  grid-template-columns: auto 3fr 1fr;
  grid-template-rows: auto;
  background-color: $bg-header-color;
  padding: 5px 10px;

  &__logo-container {
    display: grid;
    grid-template-columns: auto 1fr;
    text-decoration: none;
    color: inherit;
    align-items: center;

    &__logo{
      width: 30px;
      height: 30px;
      margin: 0 10px;
    }

    &__title{
      font-size: 22px;
      font-weight: bold;
      margin: 0 15px 0 5px;
    }
  }

  &__nav {
    display: grid;
    align-items: center;
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(1px, max-content));
      grid-gap: 1em;
      li {
        display: block;
        margin-right: 24px;

        a {
          text-decoration: none;
          color: inherit;
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
  }

  &__personal-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1px, max-content));
    grid-gap: 2em;
    justify-content: end;


    &__user-name-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(1px, max-content));
      text-decoration: none;
      color: inherit;
      align-items: center;

      &__logo-user{
        width: 25px;
        height: 25px;
      }

      &__user-name{
        font-size: 20px;
        font-weight: 500;
        margin: 0 20px 0 5px;
      }
    }

    &__buttons {
      margin: auto;
      font-weight: 300;

    }
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  background: $bg-main-color;
  overflow: auto;

  .content{
    grid-area: 1 / 2 / 2 / 3;
    background: $content-color;
  }
}
