$text-size-primary: 18px;
$text-color-primary: #aca9af;
$bg-header-color: #19181a;
$bg-main-content-color: #c5c5b5;

:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1.9fr;
  gap: 0 0;
  height: 100%;
}

nav {
  ul {
    li {
      display: inline-block;
      margin-right: 24px;

      a {
        text-decoration: none;
        color: $text-color-primary;
      }
    }
  }
}

.header {
  display: grid;
  grid-template-columns: 0.1fr 3.4fr 0.1fr 0.4fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-area: 1 / 1 / 2 / 2;
  background-color: $bg-header-color;
  color: $text-color-primary;
  font-size: $text-size-primary;

  &__logo {
    grid-area: 1 / 1 / 2 / 2;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
  }

  &__main {
    grid-area: 1 / 2 / 2 / 3;
  }

  &__personal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-area: 1 / 3 / 2 / 5;
    justify-items: center;
    align-items: center;

    &__user-name {
      grid-area: 1 / 1 / 2 / 2;
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      grid-template-rows: 1fr;
      gap: 0 0;
      justify-items: center;
      align-items: center;

      p {
        margin: 0;
      }
    }

    &__buttons {
      grid-area: 1 / 2 / 2 / 3;

      button {
        font-size: $text-size-primary;
      }
    }
  }
}
main {
  grid-area: 2 / 1 / 3 / 2;
  background-color: $bg-main-content-color;
}
