<h1 mat-dialog-title>Добавить книгу</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="addUserForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Имя</mat-label>
      <input matInput formControlName="userName">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Роль</mat-label>
      <input matInput formControlName="role">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Книги в пользовании</mat-label>
      <input matInput formControlName="bookInUse">
    </mat-form-field>

    <button mat-button color="primary" (click)="accept()">Добавить</button>
    <button mat-button mat-dialog-close color="warn">Отмена</button>
  </form>
</div>
