<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>Логин:
    <input
      type="email"
      [formControlName]="'login'"
      [ngClass]="{
      empty: form.get('login')?.invalid && (form.get('login')?.touched || form.get('login')?.dirty),
      valid: form.get('login')?.valid
      }"
    />
  <span *ngIf="form.get('login')?.invalid && (form.get('login')?.touched || form.get('login')?.dirty)"
  >*Обязательно для заполнения</span>
  </label>
  <label> Пароль:
    <input
      type="text"
      [formControlName]="'password'"
      [ngClass]="{
      empty: form.get('password')?.invalid && (form.get('password')?.touched || form.get('password')?.dirty),
      valid: form.get('password').valid
      }"
    />
    <span *ngIf="form.get('password')?.invalid && (form.get('password')?.touched || form.get('password')?.dirty)"
    >*Обязательно для заполнения</span>
  </label>
  <button type="submit" >Войти</button>
</form>

