<div class="main">
  <form class="example-form" [formGroup]="form">
    <mat-form-field class="example-full-width">
      <mat-label>Email:</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="E-mail"
      />
      <mat-error
        *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')"
      >
        Please enter a valid email address
      </mat-error>
      <mat-error
        *ngIf="form.get('email')?.invalid && (form.get('email')?.touched || form.get('email')?.dirty)"
      >
        Обязательно для заполнения
      </mat-error>
    </mat-form-field>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Пароль:</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          placeholder="Пароль"
        />
        <mat-error
          *ngIf="form.get('password').hasError('password') && !form.get('password').hasError('password')"
        >
          Please enter a valid email address
        </mat-error>
        <mat-error
          *ngIf="form.get('password')?.invalid && (form.get('password')?.touched || form.get('password')?.dirty)"
        >
          Обязательно для заполнения
        </mat-error>
      </mat-form-field>
    </p>
    <button mat-button type="submit">Войти</button>


  </form>
</div>
