<div class="content">
  <div class="name">
    <div class="label"><p>Имя:</p></div>
    <div class="info">{{name}}</div>
  </div>
  <div class="email">
    <div class="label"><p>Email:</p></div>
    <div class="info">{{email}}</div>
  </div>
  <div class="role">
    <div class="label"><p>Роль:</p></div>
    <div class="info">{{role}}</div>
  </div>
  <div class="books">
    <div class="label"><p>Книги в пользовании:</p></div>
    <div class="info">
      <app-book-card
        *ngFor="let book of bookInUse"
        [book]="book"
      ></app-book-card>
    </div>
  </div>
</div>
<button *ngIf="isModal" mat-button (click)="onNoClick()">Cancel</button>
