<!--<h1>Имя пользователя: {{name}}</h1>
<h1>Роль:{{role}}</h1>
<h2>Книги в пользовании:</h2>
<h2>{{name}}</h2>-->
<div class="content">
  <div class="name">
    <div class="label"><p>Имя:</p></div>
    <div class="info">{{name}}</div>
  </div>
  <div class="email">
    <div class="label"><p>Email:</p></div>
    <div class="info">{{email}}</div>
  </div>
  <div class="role">
    <div class="label"><p>Роль:</p></div>
    <div class="info">{{role}}</div>
  </div>
  <div class="books">
    <div class="label"><p>Книги в пользовании:</p></div>
    <div class="info">
      <div *ngFor="let book of bookInUse">{{book.title}}</div>
    </div>
  </div>
</div>
