<!-- <div class="content">
  <div class="label">
    <div class="text"><h1>Книги</h1></div>
  </div>
  <div class="content-cont" *ngFor="let book of books">
    <div class="label-book"></div>
    <div class="info-cont">
      <p>{{book.annotation}}</p>
      <div class="rank"></div>
    </div>
  </div>
</div> -->
<div id="grid-container">
  <h1 class="title-page">Книги</h1>
  <mat-card *ngFor="let book of books" class="content">
    <mat-card-title>{{book.title}}</mat-card-title>
    <mat-card-subtitle>{{book.author}} <br> Издательство: {{book.publisher}}</mat-card-subtitle>
    <mat-card-subtitle>Жанр: {{book.genre}}</mat-card-subtitle>
    <mat-card-content>Анотация: {{book.annotation}}</mat-card-content>
  </mat-card>
</div>
